<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register Employee</title>
</head>
<link rel="stylesheet" href="CSS/css.css">
<body>
	<h1>Register New Employee</h1>
	<form th:action="@{/register}" th:method="post" th:object=${employee}>
		<label>User Name</label> <input type="text" th:field="*{username}" /><br>
		<label>Password</label> <input type="password" th:field="*{password}" /><br>
		<label>Authority</label> <input type="text" th:field="*{authority}" /><br>
		<input type="submit" value="Register" />
	</form>
	<p>
		<a href="/" th:href="@{/}">Back to index page</a>
	</p>
</body>
</html>